<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
          PhysioBase 
        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|Lato|Mina|Open+Sans+Condensed:300|PT+Sans|Raleway|Titillium+Web" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">
    </head>
    <body>
        
<nav class="navbar navbar-default">
   <div class="container-fluid">
       <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PhysioBase</a>
       </div>
        
        
         
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="/">Strona główna</a>
                  </li>
                  <li>
                    <a href="/patients">Pacjenci</a>
                  </li>
                  <li>
                    <a href="#">Mapa</a>
                  </li>
            </ul>
        </div>
       
             <ul class="nav navbar-nav navbar-right ">
                 <% if(!currentUser){ %>
                <li ><a class="btn btn-success"href="/login">Zaloguj się</a></li>
                <li ><a class="btn btn-info" href="/register">Zarejestruj się</a></li>
                <% } else { %>
                <li class="navbar-text"><a href="#">Witaj, <%= currentUser.username %></a></li>
                <li ><a class="btn btn-warning" href="/logout">Wyloguj</a></li>
                <% } %>
             </ul>
    </div>   
 </nav>
</br>
<div class="container">
     <% if(error && error.length>0){ %>
     <div class="alert alert-danger" role="alert"><%= error %></div>
     <% }%>
     <% if(success && success.length>0){ %>
      <div class="alert alert-success" role="alert"><%= success %></div>
      <% } %>
 </div>
 
 