<% include partials/header %>
<div class="container">
   
    <% if(!currentUser){ %>
    <div class="row text-center">
        <div class="col-md-6 tile">
            <h3><a href="/login">Zaloguj się do systemu</a></h3>
        </div>
        <div class="col-md-6 tile">
            <h3><a href="/register">Zarejestruj się jako nowy użytkownik</a></h3>
        </div>
    </div>
    <% } else { %>
     <div class="jumbotron"><h1>Witaj na stronie PhysioBase, <%= currentUser.username %>  </h1></div>
    <div class="container">
    
        <div class="ul-menu row text-center">
             <% if(currentUser.username === "Admin"){ %>
             <div id="cf5" class="col-md-6 cf">
              <img class="bottom "></img>
              <img class="top tile"><span class="text-div"><a class="text-top" href="/patients/new">Dodaj pacjenta</a></span></img>
              
            </div>
            <div id="cf6" class="col-md-6 cf">
                 <img class="bottom"></img>
                 <img class="top tile"><span class="text-div"><a class="text-top" href="#">Sprawdź listę pacjentów</a></span></img>
                 
            </div>
            <% } else { %>
            <div id="cf1" class="col-md-6 cf">
              <img class="bottom "></img>
              <img class="top tile"><span><a class="text-top" href="#">Lista pacjentów</a></span></img>
              
            </div>
            <div id="cf2" class="col-md-6 cf">
                 <img class="bottom"></img>
                 <img class="top tile"></img>
                 <span><a class="text-top" href="#">Mapa</a></span>
            </div>
            <div id="cf3" class="col-md-6 cf">
                <img class="bottom"></img>
                 <img class="top tile"></img>
                 <span><a class="text-top" href="#">Wprowadź opisy</a></span>
            </div>
            <div id="cf4" class="col-md-6 cf">
                <img class="bottom"></img>
                 <img class="top tile"></img>
                 <span><a class="text-top" href="#">Archiwum</a></span>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>
    <h2>Przejdź do listy pacjentów</h2>
</div>
<% include partials/footer %>