<% include partials/header %>
<div class="container">
   
    <% if(!currentUser){ %>
    <div class="row text-center">
        <div class="col-md-6 tile">
            <h3><a href="/login">Zaloguj się do systemu</a></h3>
        </div>
        <div class="col-md-6 tile">
            <h3><a href="/register">Zarejestruj się jako nowy użytkownik</a></h3>
        </div>
    </div>
    <% } else { %>
     <div class="jumbotron"><h1>Witaj na stronie PhysioBase, <%= currentUser.username %>  </h1></div>
    <div class="container">
    
        <div class="ul-menu row text-center">
            <div id="cf5" class="col-md-6 cf">
              <img class="bottom "></img>
              <img class="top tile"></img>
              <span><a class="text-top" href="#">Dodaj pacjenta</a></span>
            </div>
            <div id="cf6" class="col-md-6 cf">
                 <img class="bottom"></img>
                 <img class="top tile"></img>
                 <span><a class="text-top" href="#">Sprawdź listę pacjentów</a></span>
            </div>
            
        </div>
    </div>
    <% } %>
</div>
<% include partials/footer %>