<% include partials/header %>
 <!-- MAIN CONTENT -->



<div id="center-block" >
	<h1> OMNI - MED </h1>
	<h2>Zaloguj się do bazy danych:</h2>
	<hr>
	<form action="/login/" method="POST">
		<h3>Login: </h3>
		<input type="text" placeholder="twój login" name="username">
		<br>
		<h3>Hasło: </h3>
		<input type="password" placeholder="hasło" name="password">
	</form>
</div>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<!-- MAIN CONTENT -->
<% include partials/footer %>