<table class="table table-stripped">
                <thead>
                    <tr>
                        <th scope="col">Lp.</th>
                        <th scope="col">Ulica</th>
                        <th scope="col">Nr bloku</th>
                        <th scope="col">Nr mieszkania</th>
                        <th scope="col">Kod pocztowy</th>
                        <th scope="col">Miasto</th>
                        <th scope="col"><div class="text-right">
                        <a class="btn btn-xs btn-success" 
                        href="/patients/<%= patient._id%>/addresses/new">Dodaj nowy adres pacjenta</a>
                        </div></th>
                    </tr>
                </thead>
                
                <tbody>