<table class="table table-stripped">
    <thead>
        <tr>
            <th scope="col">Lp.</th>
            <th>Data skierowania</th>
            <th>Nazwa zakładu</th>
            <th>Lekarz kierujący</th>
            <th>Choroby</th>
            
        </tr>
    </thead>
    
</table>
<tbody>